<h1>Status Updates</h1>

<%= link_to "Post Status", new_status_path, class: "btn btn-primary" %>

<% @statuses.each do |status| %>
<div class="status">
  <p><b><%= status.name %></b></p>
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.updated_at) + " ago", status %>
    <span class="admin">
      | <%= link_to "Edit", edit_status_path(status) %> |
      <%= link_to "Remove", status, method: :delete, data: { confirm: "Are you sure you want to remove this status?"} %>
    </span>
  </div>
</div>
 <% end %>